# Protocol Policy Lab .gitignore
# Curated from https://www.toptal.com/developers/gitignore for: latex, python,
# jupyternotebooks, c++, cmake, visualstudiocode, windows, macos, linux,
# dotenv, direnv, ssh, gpg. Trimmed to what this repository actually uses.

########################################
# LaTeX
########################################

# Core pdflatex / xelatex / lualatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*
.pdf

# Bibliography (bibtex / biblatex / biber)
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool artifacts
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache
latex.out/

# Package-specific
*.alg
*.loa
acs-*.bib
*.thm
*.atfi
*.nav
*.pre
*.snm
*.vrb
*.soc
*.loc
*.cut
*.cpt
*.spl
*.ent
*.lox
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.acn
*.acr
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
*.gnuplot
*.table
*-gnuplottex-*
*.gaux
*.glog
*.gtex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
*.hd
*.brf
*-concordance.tex
tikz_cache/
*-tikzDictionary
*.lol
*.ltjruby
*.idx
*.ilg
*.ind
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*
_minted*
*.data.minted
*.pyg
*.mw
*.newpax
*.nlg
*.nlo
*.nls
*.pax
*.pdfpc
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
*.wrt
*.spell.bad
*.spell.txt
svg-inkscape/
*.sout
*.sympy
sympy-plots-for-*.tex/
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.listing
*.loe
*.dpth
*.md5
*.auxlock
*.ptc
*.tdo
*.hst
*.ver
*.lod
*.xcp
*.xmpi
*.xdy
*.xyc
*.xyd
*.ttt
*.fff

# LaTeX editors
TSWLatexianTemp*
*.bak
*.sav
*.bak[0-9]*
.texpadtmp
*.lyx~
*.backup
.*.swp
*~[0-9]*
*.tps
./auto/*
*.el
*-tags.tex
*.sta
*.lpz
*.xwm

########################################
# Python
########################################

__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# Test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
.hypothesis/
.pytest_cache/
cover/

# Virtual envs
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Type checkers / linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
pyrightconfig.json

# Tooling caches
.pdm.toml
__pypackages__/
celerybeat-schedule
celerybeat.pid
cython_debug/
poetry.toml

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

########################################
# Jupyter Notebooks
########################################

.ipynb_checkpoints/
profile_default/
ipython_config.py

########################################
# C++ / CMake (for any future ml/ or amsSimCVaR/ side)
########################################

*.o
*.obj
*.lo
*.slo
*.ko
*.so
*.so.*
*.dylib
*.dll
*.a
*.la
*.lib
*.exe
*.app
*.elf
*.gch
*.pch

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
cmake-build-*/

########################################
# Visual Studio Code
########################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.ionide

########################################
# JetBrains
########################################

.idea/*
!.idea/codeStyles
!.idea/runConfigurations
*.iml
*.ipr
*.iws
out/

########################################
# Vim / Emacs
########################################

[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

\#*\#
.\#*
.org-id-locations
/eshell/history
/eshell/lastdir
/elpa/
.cask/
flycheck_*.el
/server/
.projectile
.dir-locals.el

########################################
# direnv / dotenv / secrets
########################################

.direnv/
.envrc
.env
.env.*
!.env.example
secring.*
*.pem
*.key
id_rsa
id_ed25519
id_ecdsa
id_dsa
known_hosts

########################################
# Operating system junk
########################################

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

########################################
# Project-local agent and tool state
########################################

.claude/
.cspell-cache
.lean-ctx/
.symdex/
